/* Navbar Base */
.custom-navbar {
  background: rgba(90, 100, 241, 0.85);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  padding: 10px 0;
}

/* Brand */
.navbar-brand {
  font-size: 1.5rem;
  color: #fff !important;
}

/* Nav Links */
.nav-link {
  color: #fff !important;
  margin: 0 10px;
  position: relative;
  transition: 0.3s;
}

/* Underline Animation */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  /* background: #ffd700; */
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
/* .nav-link.active::after {
  width: 0 !important;
} */

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #9ac1f5 !important;
}

/* Active Link
.nav-link.active {
  color: #ffd700 !important;
} */

/* Dropdown */
.dropdown-menu {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.dropdown-item {
  border-radius: 6px;
  transition: 0.3s;
}

.dropdown-item:hover {
  background: #6e74f1;
  color: #fff;
}

/* Signup Button */
.signup-btn {
  background: #db811a;
  color: #000;
  border-radius: 25px;
  padding: 8px 18px;
  font-weight: bold;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #fff;
  color: #000;
  transform: scale(1.05);
}
.main-content {
  margin-top: 60px; /* adjust based on navbar height */
}

/* Mobile Fix */
@media (max-width: 991px) {
  .nav-link {
    margin: 10px 0;
  }
}